<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{page.title}}</title>
<link href="./css/style.css" rel="stylesheet">
<link href="favicon.png" rel="icon">
<link href="https://fonts.googleapis.com/css?family=PT+Serif|Poppins" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/hamburger.js" type="text/javascript"></script>
<script src="js/smooth-scroll.js" type="text/javascript"></script>